/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


/* COMMON */
/* Layout */

.container {
    width: 100%;
    padding: 0 20px;

    /* debug */
    border: 1px solid black;
    min-height: 300px;

}

.header {
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nerko One, cursive;

    /* debug */
    background-color: lightblue;
}


/* MAIN */

/* Recipe */
.title-block {

    /* debug */
    background-color: lightpink;
}

.title-block h2 {
    font-family: Helvetica, sans-serif
}

/* Card block */
.card {
    display: flex;
    flex-wrap: wrap;
}

.video-col,
.description-col {
    width: 100%;

    /* debug */
    border: 2px solid blue;
}

/* Social */
.social-icons ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

/* Banner */
.banner {
display: none;
}

/****************/
/* MEDIA QUERY */
/****************/
/* TABLET */
@media screen and (min-width: 768px) {
    .header {
        justify-content: flex-start
    }

    /* Social */
    /* .social-icons ul {
        
    } */

    /* Banner */
.banner {
    display: inline;
    }
    


}



/* DESKTOP */
@media screen and (min-width: 992px) {
    .container {
        width: 100%;
        padding: 0 80px;

        /* debug */
        border: 1px solid black;
        min-height: 300px;

    }

    /* MAIN */
    /* Recipe */
    .title-block h2 {
        font-size: 2rem;
    }

    /* Card block */
    .video-col {
        width: 70%;
    }

    .description-col {
        width: 30%;
    }


    /* Social */
    /* .social-icons ul {
        
    } */

}