/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


/* UTILITES */
/* Typography */

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}


/* COMMON */
/* Layout */

/* BODY */
body {
    font-family: Helvetica, sans-serif;
}

/* MAIN  */
main {
    background-color: rgb(246 245 243);
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 20px;

    /* debug */
    /* border: 1px solid black; */
    /* min-height: 300px; */
}

.footer-container {
    width: 60%;
    margin: auto;
    padding: 0;
    text-align: center;
}

.header {
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nerko One, cursive;

    /* debug */
    /* background-color: lightblue; */
}

/* HEADER */
.header-title {
    font-size: 3rem;
    color: rgb(254 150 21);
    text-shadow: 0 0 3px #3b3838;
}

/* MAIN */

/* Recipe */
.title-block {

    /* debug */
    /* background-color: lightpink; */
}

.sweets {
    color: lightgray;
    padding: 10px 0;
}

.title-block h2 {
    font-family: Helvetica, sans-serif;
    color: hsl(267.27deg 22.92% 37.65%);
    padding-bottom: 10px;
}

/* Card block */
.card {
    display: flex;
    flex-wrap: wrap;
}

.description-col {
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px #3b3838;
    ;
}

.video-col,
.description-col {
    width: 100%;

    /* debug */
    /* border: 2px solid blue; */
}

.description-col ul {
    list-style: none;

}

/* Social */
.social-icons ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

/* Banner */
.banner {
    display: none;
}

/* Presentation */
.img-float img {
    width: 300px;
}


/* FOOTER */

.policy ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


/****************/
/* MEDIA QUERY */
/****************/



/* TABLET */
@media screen and (min-width: 768px) {
    .container {
        padding: 0 40px;
    }

    .header {
        justify-content: flex-start
    }

    /* MAIN */
    /* Recipe */
    .title-block h2 {
        font-size: 2rem;
    }

    /* Card */
    .description-col ul {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        row-gap: 10px;
    }

    /* Social */
    /* .social-icons ul {

    } */

    /* Banner */
    .banner {
        display: inline;
    }

    /* Presentation */
    .img-float img {
        float: left;
    }

    /* FOOTER */

    .contact {
        text-align: center;
    }

    .policy ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    /* FOOTER */
    .footer-container {
        padding: 0 30PX;
    }

}



/* DESKTOP */
@media screen and (min-width: 992px) {
    .container {
        width: 100%;
        padding: 0 80px;

        /* debug */
        /* border: 1px solid black; */
        min-height: 300px;
    }

    /* MAIN */
    /* Recipe */

    /* Card block */
    .video-col {
        width: 70%;
    }

    .description-col {
        width: 30%;
    }


    /* Social */
    /* .social-icons ul {

    } */

    /* FOOTER */
    .footer-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: auto;
        text-align: start;
    }
}